/* blog page elements */
#blog-latest-slider {
	
	@include clearfix;
	background-color:$grey-lighter;
	padding-top:$standard-spacing;
	padding-bottom:$standard-spacing;
	background-image: url('../../images/design/banner-camo.png');

	.blog-post-details {
		float:left;
		padding-top:$standard-spacing * 1.5;

		.blog-post-heading {

			h3 a, .blog-post-date {
				color:$grey-mid;
			}

			h3 {
				a {
					font-size:$h6;
					font-family:$secondary-font;
					text-decoration:none;
					@include transition(all, .25s, linear);

					&:hover {
						color:$primary-green;
						@include transition(all, .25s, linear);
					}
				}
			}

			p {
				margin:0;
			}

			.blog-post-author {
				color:$primary-green;
				font-size:$p * 2.2;
			}

			.blog-post-date {
				font-size:$p * 1.8;
				margin-bottom:$standard-spacing * 1.5;
			}

		}

	}

	.blog-post-image {
		float:right;
		width:40%;
		a {
			display:block;
		}
		img {
			display:block;
			width:100%;
			height:auto;
		}
	}

}

/* blog posts styles */
.blog-post {
	overflow:hidden;
	position:relative;

	&.grid-view {
		width:calc(50% - 20px);
		height:310px;
		display:block;
		float:left;
		text-decoration:none;
		margin-right:$standard-spacing;
		margin-bottom:$standard-spacing * 2;

		@include respond-to(tablet) {
			width:100%;
			margin-right:0;
		}

		&:nth-child(2n+2) {
			margin-right:0;
		}

		img {
			display:block;
		}

		.blog-post-details {
			display:inline-block;
			position:relative;
			z-index:100;
			float:left;
			width:380px;
			background:$grey-dark;
			padding:$standard-spacing * 2;

			@include respond-to(mobile) {
				width:100%;
			}

			.blog-post-heading {

				h3, p {
					color:#fff;
					
				}

				h3 {
					font-size:$h3 * .7;
					font-family:$secondary-font;
				}

				p {
					margin:0;
				}

				button {
					margin-top:$standard-spacing * .5;
				}

				.blog-post-date {
					color:$primary-green;
				}

			}

		}
		.blog-post-image {
			display:inline-block;
			position:relative;
			left:0;
			z-index:50;
			float:left;
			width:400px;
			@include transition(all, .5s, linear);
			img {
				height:100%;
				width:auto;
			}
		}

		.push-right {
			position:absolute;
			width:780px;
			left:-380px;
			height:310px;
			display:block;
			@include clearfix;
			@include transition(left, .5s, linear);

			@include respond-to(mobile) {
				width:100%;
				left:0;
			}
		}

		&:hover {
			.push-right {
				@include transition(left, .5s, linear);
				left:0;
			}
			button {
				background:$primary-green;
				border:none;
				color:#fff;
				padding:$standard-spacing * .5 $standard-spacing;
			}
			.blog-post-image {
				left:-150px;
				@include transition(all, .5s, linear);
			}
		}

	}
}
.load-more-posts {
	width:100%;
	font-family:$secondary-font;
	clear:both;
	padding:$standard-spacing;
	text-align:center;
	font-size:$p * 1.2;
	display:block;
	color:$grey-mid;
	text-decoration:none;
	&:hover {
		border-bottom:3px solid rgba($primary-green, .2);
	}
}

.blog-article {

	.blog-post-image {
		display:block;
		position:relative;
		left:0;
		z-index:50;
		float:left;
		width:100%;
		img {
			height:auto;
			width:100%;
		}
	}
	.blog-post-details {
		@include clearfix;
		display:block;
		clear:both;
		position:relative;
		width:100%;
		padding-top:$standard-spacing;

		@include respond-to(mobile) {
			width:100%;
		}

		.blog-post-heading {
			
			border-bottom:2px solid $primary-green;
			padding-bottom:$standard-spacing * .5;
			position:relative;
			clear:both;

			h3, p {
				color:$grey-dark;
				
			}

			h3 {
				font-size:$h3 * .9;
				font-family:$secondary-font;
			}

			p {
				margin:0;
			}

			button {
				margin-top:$standard-spacing * .5;
			}

			.blog-post-author {
				color:$primary-green;
				font-size:$p * 1.4;
			}
			.blog-post-date {
				position:absolute;
				font-size:$p * 1.4;
				top:0;
				right:0;
			}
		}
	}
	.blog-post-content {
		&.single-col {
			float:left;
			width:50%;
			padding-right:$standard-spacing * 2;
			@include respond-to(mobile) {
				width:100%;
				padding-right:0;
			}
		}
	}
}