/* buttons */
.standard-btn {
	display:block;
	@include border-radius(5px);
	text-align:center;
	font-size:$p;
	padding:$standard-spacing * .5 $standard-spacing;
	text-decoration:none;
	clear:both;
	float:left;
	text-transform:uppercase;
	border:none;

	/* bg colours */
	&.green-bg {
		background:$primary-green;
		color:#fff;

		&:hover {
			color:$primary-green;
			border-color:$primary-green;
		}
	}

	&:hover {
		background:none;
		border:2px solid #fff;
		padding: 8px 18px;
	}
}

/* sidebar */
.with-sidebar {
	@include respond-to(tablet) {
		width:70%;
	}
	@include respond-to(mobile) {
		width:100%;
	}
}
.sidebar {
	background:$grey-lighter;
	@include respond-to(tablet) {
		width:30%;
	}
	@include respond-to(mobile) {
		display:none;
	}
	padding:$standard-spacing;

	.sidebar-area {
		display:block;
		width:100%;
		margin-top:$standard-spacing;
		@include clearfix;
		border-top:1px solid $grey-light;
		padding-top:$standard-spacing;
		&:first-child {
			margin-top:0;
			border-top:none;
			padding-top:0;
		}
		h3 {
			color:$grey-mid;
			font-size:$h3 * .7;
			margin-bottom:$standard-spacing * .5;
		}
		ul {
			display:block;
			li {
				padding-left:0;
			}
		}
		a {
			color:$grey-mid;
			font-size:$p;
			display:block;
			padding-top:$standard-spacing * .25;
			padding-bottom:$standard-spacing * .25;

			&:hover {
				text-decoration:none;
				color:$primary-green;
			}
		}

		input[type=text] {
			width:100%;
			background:#fff;
			border:none;
			padding:$standard-spacing * .75;
		}

		input[type=submit] {
			margin-top:$standard-spacing * .5;
			float:right;
		}

		#blog-search {
			display:block;
			@include clearfix;
		}
	}
}

/* project page styles */
.row {
	@include clearfix;
	margin-top:$standard-spacing;
	margin-bottom:$standard-spacing;
	clear:both;
	display:block;
	width:100%;
	float:left;
	position:relative;
	img {
		margin:auto;
		display:block;
		@include respond-to(mobile) {
			width:100%;
			height:auto;
		}
	}
	.col {
		@include respond-to(mobile) {
			width:100%;
			&.width-6, &.width-8, &.width-3, &.width-9, &.width-4 {
				margin-top:$standard-spacing * 2;

				&:first-child {
					margin-top:0;
				}
			}
		}
	}
}

#project-masthead {
	max-height:600px;
	overflow:hidden;
	img {
		position:relative;
		width:100%;
	}
}

.project-title {
	padding-bottom:$standard-spacing * .5;
	border-bottom:2px solid $grey-light;
	position:relative;

	.project-name, .project-tagline {
		margin:0;
	}
	.project-name {
		font-size:$h2 * 1.4;
		@include respond-to(mobile) {
			font-size:$h2;
		}
	}
	.project-tagline {
		font-size:$h3 * 1.2;
		color:$grey-mid-dark;
		@include respond-to(mobile) {
			font-size:$h3 * .8;
			line-height:$h3 * .4;
			margin-bottom:$standard-spacing * 1.5;
		}
	}
	.project-tags {
		position:absolute;
		right:0;
		top:0;
		a {
			display:block;
			clear:both;
			float:right;
			color:$grey-dark;
			text-decoration:none;
			border-bottom: 2px solid $grey-dark;
			margin-top:$standard-spacing * .25;
			font-size:$p * 1.1;
			text-align:right;
			padding-top:$standard-spacing * .25;
			padding-bottom:$standard-spacing * .125;
			text-transform:uppercase;
			font-family:$secondary-font;
			&:first-child {
				margin-top:0;
			}
			&:hover {
				background:$grey-dark;
				color:#fff;
				padding-left:$standard-spacing * .25;
				padding-right:$standard-spacing * .25;
			}
		}
		@include respond-to(mobile) {
			bottom:$standard-spacing * .25;
			top:auto;
			a {
				clear:none;
				display: inline-block;
				float:left;
				margin:0;
				margin-left:$standard-spacing * .5;
			}
		}
	}
}

.project-story {
	p {
		font-size:$p * 1.2;
	}
}
.quote-block {
	padding:$standard-spacing * 10;
	background-repeat: no-repeat;
	background-size: cover;
	display:block;
	p {
		color:#fff;
		font-size:$p * 2;
	}
	@include respond-to(tablet) {
		padding:$standard-spacing * 5;
	}
	@include respond-to(mobile) {
		padding:$standard-spacing * 2;
		p {
			font-size:$p * 1.5;
		}
	}
}
.text-info-area {
	background:$grey-light;
	padding:$standard-spacing * 2;

	.text {
		width:50%;
	}
	.image {
		width:50%;
		img {
			width:100%;
			height:auto;
		}
	}

	&.text-left {
		border-left:10px solid $grey-mid-dark;
		.text, .image {
			float:left;
		}
		.text {	
			padding-right:$standard-spacing * 2;
		}
		.image {
			padding-left:$standard-spacing * 2;
		}
	}
	&.text-right {
		border-right:10px solid $grey-mid-dark;
		.text, .image {
			float:right;
		}
		.text {
			padding-left:$standard-spacing * 2;
		}
		.image {
			padding-right:$standard-spacing * 2;
		}
	}

	@include respond-to(mobile) {
		.text, .image {
			width:100%;
			padding:0!important;
		}
	}

	h3 {
		border-bottom:2px solid $grey-mid-dark;
		padding-bottom:$standard-spacing * .5;
		font-size:$h3 * 1.2;
	}
}