/* embedded map */
#map-canvas {
	
	position:relative;
	width:100%;
	height:800px;
	display:block;
	clear:both;
	z-index:1;

	#map-loader {
		height:100%;
	}

}

#gradient {
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100px;
	z-index:2;
	background: url('../../images/design/icons/map-top-fade.png') repeat-x;
}

.contact-us {
	position:relative;
	padding-bottom:$standard-spacing * 5;
	.container {
		height:auto!important;
	}

	.col {
		@include respond-to(tablet) {
			width:50%;
			margin-bottom:$standard-spacing;
		}
		@include respond-to(mobile) {
			width:100%;
		}
	}
}

.contact-area {
	margin-top:$standard-spacing;
	&:first-child {
		margin-top:0;
	}
	h4 {
		font-size:$h4 * .8;
		margin-bottom:$standard-spacing * .5;
	}
	p {
		color:$grey-dark;
		margin-top:$standard-spacing * .5;
		margin-bottom:$standard-spacing * .5;
		line-height:$p;
	}
	a {
		font-size:$p;
		color:$grey-dark;
		display:block;
		margin-top:$standard-spacing * .25;
		margin-bottom:$standard-spacing * .25;
	}
}






// #gradient {
//     position:absolute;
//     z-index:2;
//     right:0;
//     bottom:0;
//     left:0;
//     height:200px;
//     background: url(data:image/svg+xml;base64,alotofcodehere);
//     background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
//     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
//     background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
//     background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
//     background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
//     background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
// }​