footer {
	@include clearfix;
	background:$grey-dark;
	border-bottom:10px solid $primary-green;
	padding-top:$standard-spacing * 2;
	padding-bottom:$standard-spacing * 2;

	p, li, a {
		color:#fff;

		&.heading {
			font-size:$p * 1.2;
			color:$grey-lighter;
			font-family:$secondary-font;
			margin-bottom:5px;
		}
	}

	p {
		margin:0;
	}

	.footer-links {
		display:block;
		li {
			display:block;
			a {
				display:block;
				position:relative;
				text-decoration:none;
				font-size:$p;
				padding-top:$standard-spacing * .25;
				padding-bottom:$standard-spacing * .25;
				@include transition(all, .1s, linear);

				&:after {
					content: url('../../images/design/icons/small-arrow-right-green.png');
					position:absolute;
					top:4px;
					right:$standard-spacing * 3;
					@include transition(all, .1s, linear);
				}

				&:hover {
					color:$primary-green;
					&:after {
						@include transition(all, .5s, linear);
						right: $standard-spacing * 2;
					}
				}
			}
		}
	}
}

.footer-social {
	text-decoration:none;
	float:left;
	display:block;
	margin-left:$standard-spacing;
	font-size:$p * 2;
	@include transition(color, .5s, linear);

	&:hover {
		color:$primary-green;
		@include transition(color, .5s, linear);
	}
	&:first-of-type {
		margin-left:0;
	}
}