
/* clearfix */
.clearfix {
	@include clearfix;
}

/* hidden */
.hidden {
	display: none;
}

/* floats */
.float-left {
	float:left;
}
.float-right {
	float:right;
}

img.float-right {
	padding-left:$standard-spacing;
	padding-top:$standard-spacing;
	padding-bottom:$standard-spacing;
	@include respond-to(mobile) {
		width:100%;
		padding-left:0;
		padding-right:0;
	}
}
img.float-left {
	padding-right:$standard-spacing;
	padding-top:$standard-spacing;
	padding-bottom:$standard-spacing;
	@include respond-to(mobile) {
		width:100%;
		padding-left:0;
		padding-right:0;
	}
}

/* full width elements */
.full-width {
	width:100%;
	height:auto;
}

/* standard padding */
.standard-padding {
	padding:$standard-spacing;
}
.standard-padding-x {
	padding-top:$standard-spacing;
	padding-bottom:$standard-spacing;
}
.standard-padding-y {
	padding:$standard-spacing;
}
.double-padding {
	padding:$standard-spacing * 2;
}
.double-padding-x {
	padding-top:$standard-spacing * 2;
	padding-bottom:$standard-spacing * 2;
}
.double-padding-y {
	padding:$standard-spacing * 2;
}

/* margin-top to ignore fixed header */
.clear-header {
	margin-top:114px;
}

/* scroll down button */
.scroll-down-container {
	position:absolute;
	bottom:0;
	z-index:200;
	left:0;
	right:0;
	width:100%;

	.scroll-down-btn {
		position:relative;
		outline:none;
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:100px;
		padding:$standard-spacing;
		text-align:center;
		color:#000;
		text-decoration:none;
		text-transform:uppercase;
		font-size:$p * 1.3;
		font-family:$secondary-font;

		.scroll-down-arrow {
			display:block;
			text-align:center;
			margin-left:auto;
			margin-right:auto;
			margin-top:$standard-spacing * .5;
		}

		&:hover {
			@include animate(bounce .6s linear);
		}
	}

	@include keyframes(bounce) {
		0% {
			top:0;
		}
		25% {
			top:2px;
		}
		50% {
			top:-5px;
		}
		75% {
			top:2px;
		}
		100% {
			top:0;
		}
	}
}

.pod-outer {
	padding-left:$standard-spacing * .5;
	padding-right:$standard-spacing * .5;
	margin-bottom:$standard-spacing;

	@include respond-to(mobile) {
		left:0!important;
		padding-left:$standard-spacing;
		padding-right:$standard-spacing;
	}

	/* widths */
	&.single-width {
		width:calc(33.33% - 10px);

		@include respond-to(tablet) {
			width:calc(50% - 10px);
		}
		@include respond-to(mobile) {
			width:100%;
		}
	}

	&.double-width {
		width:calc(66.66% - 20px);

		@include respond-to(tablet) {
			width:calc(100% - 20px);
		}
		@include respond-to(mobile) {
			width:100%;
		}
	}

	/* heights */
	&.single-height {
		height:350px;
		.project-box-heading {
			margin-top:0;
		}
		@include respond-to(mobile) {
			height:300px;
		}
	}

	&.double-height {
		height:720px;
		.project-box-heading {
			margin-top:200px;
			@include respond-to(mobile) {
				margin-top:100px;
			}
		}
		@include respond-to(mobile) {
			height:540px;
		}
	}
}

.pod {
	display:block;
	height:100%;
	position:relative;
	padding:$standard-spacing;
	overflow:hidden;


	/* images to act as backgrounds */
	.pod-background-image {
		position:absolute;
		z-index:1800;
		width:100%;
		height:100%;
		left:0;
		top:0;

	}

	/* captions for project boxes */
	&.project-box {
		cursor:pointer;

		.project-box-hover {
			@include transition(top, .5s, linear);
			position:absolute;
			top:-30px;
			z-index:1900;
		}

		&:hover {
			.project-box-hover {
				@include transition(top, .5s, linear);
				position:absolute;
				top:0;
				z-index:1900;
			}
		}

		.project-box-caption {
			cursor: default;
			display:none;
			width:100%;
			height:100%;
			left:0;
			top:0;
			position:absolute;
			z-index:2000;
			padding:$standard-spacing * .75;

			&.caption-open {
				display:block;
			}

			> .project-box-caption-inner {
				position:relative;
				background:rgba(#000,.6);
				width:100%;
				height:100%;
				padding:$standard-spacing * 1.5;

				h3, p, a, li {
					color:#fff;
				}
			}
		}

		.project-box-close {
			outline:none;
			position:absolute;
			right:$standard-spacing;
			top:$standard-spacing;
			img {
				width:30px;
				height:30px;
			}
			&:hover {
				
			}
		}

		.project-box-heading, .project-box-btn, .project-box-tag {
			text-transform:uppercase;
		}

		.project-box-heading {
			border-bottom:5px solid;
			h3 {
				font-size:$h3 * .7;
			}
		}

		.project-box-btn {
			text-decoration:none;
			padding:$standard-spacing * .5;
			@include border-radius(5px);
			font-size:$p;
		}

		.project-box-tags {
			position:absolute;
			bottom:0;
			padding-bottom:$standard-spacing;
		}

		.project-box-tag {
			border-bottom:2px solid;
			padding-bottom:5px;
			font-size:$p;
			text-decoration:none;
			margin-left:$standard-spacing;
			&:first-of-type {
				margin-left:0;
			}
		}

	}

	&.message-box {
		p {
			font-family:$secondary-font;
			text-transform:uppercase;
			font-size:$p * 3.2;
			line-height:$p * .7;
			margin:0;
			&.dark {
				color:$grey-dark;
			}
			&.primary-green {
				color:$primary-green;
			}
			@include respond-to(mobile) {
				font-size:$p * 2.4;
			}
		}
	}

	/* background colours */
	&.grey-mid-dark-bg {
		background:$grey-mid-dark;
		p {
			color:#fff;
		}
	}

	&.primary-green-bg {
		background:$primary-green;
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color: $primary-green;
		}
		.project-box-btn {
			background-color: $primary-green;
		}
		.project-box-tag {
			border-color: $primary-green;
		}
	}

	&.primary-red-bg {
		background:$primary-red;
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color: $primary-red;
		}
		.project-box-btn {
			background-color: $primary-red;
		}
		.project-box-tag {
			border-color: $primary-red;
		}
	}

	&.primary-blue-bg {
		background:$primary-blue;
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color: $primary-blue;
		}
		.project-box-btn {
			background-color: $primary-blue;
		}
		.project-box-tag {
			border-color: $primary-blue;
		}
	}

	&.primary-pink-bg {
		background:$primary-pink;
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color: $primary-pink;
		}
		.project-box-btn {
			background-color: $primary-pink;
		}
		.project-box-tag {
			border-color: $primary-pink;
		}
	}

	&.primary-yellow-bg {
		background:$primary-yellow;
		.project-box-heading {
			border-color: $primary-yellow;
		}
		.project-box-btn {
			background-color: $primary-yellow;
		}
		.project-box-tag {
			border-color: $primary-yellow;
		}
	}
}



































