.container {
	width:1280px;
	@include clearfix;
	margin-left:auto;
	margin-right:auto;
	display:block;
	position:relative;
	@include respond-to(desktop) {
		width:100%;
		padding-left:$standard-spacing;
		padding-right:$standard-spacing;
	}
}

/* columns */
.col {
	float:left;
}

.content {
	> .col {
		@include respond-to(tablet) {
			width:50%;
		}
		@include respond-to(mobile) {
			width:100%;
		}
	}
}

// 12 column grid
@for $i from 1 through 12 {
  	.width-#{$i} { 
  		width: 8.33% * $i;
  		padding-left:$standard-spacing * .5;
  		padding-right:$standard-spacing * .5;
  	}
}