header {

	position:fixed;
	z-index:2950;
	width:100%;
	top:0;
	@include clearfix;
	padding-top:$standard-spacing * 2;
	padding-bottom:$standard-spacing;
	@include transition(all, .1s, linear);

	@include respond-to(mobile) {
		padding-top:$standard-spacing;
		background:#fff;
		@include box-shadow(0, 2px, 5px, rgba(#000, .4));
		padding-bottom:$standard-spacing * .5;
	}

	.home & {
		background:rgba(#fff, .5);
	}

	.logo {
		@include clearfix;
		display:block;
		@include transition(all, .5s, linear);
		width:250px;
		img {
			display:block;
			width:100%;
		}
		@include respond-to(mobile) {
			width:60%;
			img {
				width:100%;
			}
		}
		// .home & {
		// 	display:none;
		// }
	}

	&.scrolled {
		@include transition(all, .1s, linear);
		background:#fff;
		@include box-shadow(0, 2px, 5px, rgba(#000, .4));
		padding-top:$standard-spacing;
		padding-bottom:$standard-spacing * .5;

		#header-search {
			input[type=text] {
				// border:1px solid $grey-light;
				background: $grey-lighter;
			}
		}

		.logo {
			width:200px;
			img {
				width:100%;
			}
		}

		.home & {
			.logo {
				display:block;
			}
		}

		#header-navigation {
			li {
				a {
					font-size:$p;
					@include transition(all, .1s, linear);
				}
			}
		}
	}

} // header

#header-navigation {
	display:inline-block;

	@include respond-to(tablet) {
		display:none;
	}

	ul {

	}
	li {
		display:inline-block;
		margin-left:$standard-spacing * 1.75;

		&:first-of-type {
			margin-left:0;
		}

		&.active {
			a {
				border-bottom:5px solid $primary-green;
			}
		}
		a {
			display:block;
			font-family:$secondary-font;
			padding:$standard-spacing * .25 $standard-spacing * .5;
			font-size:$p * 1.3;
			text-transform:uppercase;
			color:$grey-mid;
			text-decoration:none;
			@include transition(all, .1s, linear);
			&:hover {
				color:$primary-pink;
				@include transition(all, .5s, linear);
			}
		}
	}
} // #header-navigation

#header-search {
	display:inline-block;
	position:relative;
	width:150px;
	margin-left:$standard-spacing * 1.75;
	@include transition(width, .3s, linear);

	@include respond-to(tablet) {
		display:none;
	}

	.no-js & {
		width:280px;
	}

	&.focus {
		width:280px;
		@include transition(width, .3s, linear);
	}

	input {
		border:none;
		outline:none;
	}

	input[type=text] {
		width:100%;
		font-size:$p;
		padding:$standard-spacing * .5;
		text-transform:uppercase;
	}
	
	input[type=submit] {
		position:absolute;
		background:$primary-green url('../../images/design/icons/search-icon-white.png') no-repeat top 8px left 10px;
		top:0;
		height:100%;
		right:0;
		width:40px;
	}

} // #header-search