#homepage-main {
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	background-color:#fff;
	overflow:hidden;

	.no-js & {
		height:1000px;
	}

	@include respond-to(tablet) {
		background-image: url('../../images/design/homepage-background.jpg');
	}
	@include respond-to(mobile) {
		height:400px;
	}

}

.homepage-main-heading {
	padding-top:$standard-spacing * 10;
	position:relative;
	z-index:200;

	@include respond-to(mobile) {
		padding-top:$standard-spacing * 5;
	}
	.highlighted {
		font-family:$secondary-font;
		color:$primary-green;
		@include animate(fadeInSlow 2s linear);

		@include respond-to(mobile) {
			font-size:$h1;
		}
	}
	p {
		background:rgba($grey-dark, .6);
		padding:$standard-spacing * .5;
		float:left;
		display:block;
		clear:left;
		font-family:$secondary-font;
		color:#fff;
		font-size:$h2 * 1.4;
		line-height:$h2 * .35;
		margin:0;
		margin-bottom:$standard-spacing * .25;
		@include animate(fadeInFast 1s linear);

		@include respond-to(mobile) {
			font-size:$h2;
		}
	}
	&.small {
		padding-top:$standard-spacing;
		p {
			font-size:$h3 * .6;
			padding:$standard-spacing * .25;
		}
	}
}

#homepage-work {
	padding-top:180px;
	padding-bottom:$standard-spacing * 2;
	padding-left:$standard-spacing * .5;
	padding-right:$standard-spacing * .5;
}

@include keyframes(fadeInFast) {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@include keyframes(fadeInSlow) {
	0% {
		opacity:0;
	}
	50% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@include keyframes(fadeInLast) {
	0% {
		opacity:0;
	}
	66% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

#homepage-bg-video {
	opacity:1;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url('../../images/design/homepage-background.jpg') no-repeat;
	background-size: cover;

	@include respond-to(tablet) {
		display:none;
	}
}

.homepage-logo-overlay {
	position:absolute;
	z-index:150;
	width:100%;
	height:100%;
	@include animate(fadeInLast 3.25s linear);
	img {
		position:absolute;
		width:80%;
		max-width:1280px;
		height:auto;
		z-index:300;
		top:0;
		left:0;
		bottom:0;
		right:0;
		display:block;
		margin:auto;
	}
}