/* colours*/

// primary colours
$primary-green: #8ec44a;
$primary-pink: #e8337d;
$primary-blue: #292961;
$primary-red: #b80d1f;
$primary-yellow: #f6c900;

// grey shades
$grey-dark: #3c3939;
$grey-mid-dark: #858687;
$grey-mid: #666768;
$grey-light: #e0e0e0;
$grey-lighter: #f2f2f2;


// fonts
$primary-font : 'franklin_gothic_fsbook';
$secondary-font : 'franklin_gothic_fsdemi';

// sizing
$h1	: 3.8em;
$h2 : $h1 * .9;
$h3 : $h2 * .9;
$h4 : $h3 * .8;
$h5 : $h4 * .8;
$h6 : $h5 * .8;

$p  : 1.4em;
$line-height : $p;

/* spacing */
$standard-spacing  :  20px;

/* z-indexes */
$header: 2000;