/* buttons */
.standard-btn {
	display:block;
	@include border-radius(5px);
	text-align:center;
	font-size:$p;
	padding:$standard-spacing * .5 $standard-spacing;
	text-decoration:none;
	clear:both;
	float:left;
	text-transform:uppercase;
	border:none;

	/* bg colours */
	&.green-bg {
		background:$primary-green;
		color:#fff;

		&:hover {
			color:$primary-green;
			border-color:$primary-green;
		}
	}

	&:hover {
		background:none;
		border:2px solid #fff;
		padding: 8px 18px;
	}
}

.lazy {
	display:none;
	background:none!important;
}

/* sidebar */
.with-sidebar {
	@include respond-to(tablet) {
		width:70%;
	}
	@include respond-to(mobile) {
		width:100%;
	}
}
.sidebar {
	background:$grey-lighter;
	@include respond-to(tablet) {
		width:30%;
	}
	@include respond-to(mobile) {
		display:none;
	}
	padding:$standard-spacing;

	.sidebar-area {
		display:block;
		width:100%;
		margin-top:$standard-spacing;
		@include clearfix;
		border-top:1px solid $grey-light;
		padding-top:$standard-spacing;
		&:first-child {
			margin-top:0;
			border-top:none;
			padding-top:0;
		}
		h2, h3 {
			color:$grey-mid;
			font-size:$h3 * .7;
			margin-bottom:$standard-spacing * .5;
		}
		ul {
			display:block;
			li {
				padding-left:0;
				display:block;
			}
		}
		a {
			color:$grey-mid;
			font-size:$p;
			display:block;
			padding-top:$standard-spacing * .25;
			padding-bottom:$standard-spacing * .25;

			&:hover {
				text-decoration:none;
				color:$primary-green;
			}
		}

		input[type=text] {
			width:100%;
			background:#fff;
			border:none;
			padding:$standard-spacing * .75;
		}

		label {
			display:none;
		}

		input[type=submit] {
			margin-top:$standard-spacing * .5;
			float:right;
			display:block;
			@include border-radius(5px);
			text-align:center;
			font-size:$p;
			padding:$standard-spacing * .5 $standard-spacing;
			text-decoration:none;
			clear:both;
			float:right;
			text-transform:uppercase;
			border:none;
			background:$primary-green;
			color:#fff;

			&:hover {
				color:$primary-green;
				background:none;
				border-color:$primary-green;
				border:2px solid $primary-green;
				padding:8px 18px;
			}
		}

		#blog-search {
			display:block;
			@include clearfix;
		}
	}
}

/* project page styles */
.row {
	@include clearfix;
	margin-top:$standard-spacing;
	margin-bottom:$standard-spacing;
	clear:both;
	display:block;
	width:100%;
	float:left;
	position:relative;
	img {
		margin:auto;
		display:block;
		@include respond-to(mobile) {
			width:100%;
			height:auto;
		}
	}
	.col {
		@include respond-to(mobile) {
			width:100%;
			&.width-6, &.width-8, &.width-3, &.width-9, &.width-4 {
				margin-top:$standard-spacing * 2;

				&:first-child {
					margin-top:0;
				}
			}
		}
	}
}

#project-masthead {
	max-height:600px;
	overflow:hidden;
	img {
		position:relative;
		width:100%;
	}
}

.project-title {
	padding-bottom:$standard-spacing * .5;
	padding-right:$standard-spacing * 5;
	border-bottom:2px solid $grey-light;
	position:relative;

	.project-color-grey-dark & {
		border-color: $grey-mid-dark;
	}
	.project-color-primary-orange & {
		border-color: $primary-orange;
	}
	.project-color-primary-green & {
		border-color: $primary-green;
	}
	.project-color-primary-pink & {
		border-color: $primary-pink;
	}
	.project-color-primary-red & {
		border-color: $primary-red;
	}
	.project-color-primary-blue & {
		border-color: $primary-blue;
	}
	.project-color-primary-yellow & {
		border-color: $primary-yellow;
	}
	.project-color-primary-lightblue & {
		border-color: $primary-lightblue;
	}
	.project-color-primary-purple & {
		border-color: $primary-purple;
	}
	.project-color-primary-mint & {
		border-color: $primary-mint;
	}
	.project-color-primary-lightorange & {
		border-color: $primary-lightorange;
	}
	.project-color-primary-turquoise & {
		border-color: $primary-turquoise;
	}
	.project-color-primary-lightpink & {
		border-color: $primary-lightpink;
	}
	.project-color-primary-beige & {
		border-color: $primary-beige;
	}
	.project-color-primary-everywalk & {
		border-color: $primary-everywalk;
	}

	.project-name, .project-tagline {
		margin:0;
	}
	.project-name {
		font-size:$h2 * 1.4;
		@include respond-to(mobile) {
			font-size:$h2;
		}
	}
	.project-tagline {
		font-size:$h3 * 1.2;
		color:$grey-mid-dark;
		@include respond-to(mobile) {
			font-size:$h3 * .8;
			line-height:$h3 * .4;
			margin-bottom:$standard-spacing * 1.5;
		}
	}
	.project-tags {
		position:absolute;
		right:0;
		top:0;
		a {
			display:block;
			clear:both;
			float:right;
			color:$grey-dark;
			text-decoration:none;
			border-bottom: 2px solid $grey-dark;
			margin-top:$standard-spacing * .25;
			font-size:$p * 1.1;
			text-align:right;
			padding-top:$standard-spacing * .25;
			padding-bottom:$standard-spacing * .125;
			text-transform:uppercase;
			font-family:$secondary-font;
			&:first-child {
				margin-top:0;
			}
			&:hover {
				background:$grey-dark;
				color:#fff;
				padding-left:$standard-spacing * .25;
				padding-right:$standard-spacing * .25;
			}

			.project-color-grey-dark & {
				border-color: $grey-mid-dark;
				color: $grey-mid-dark;
				&:hover {
					color:#fff;
					background:$grey-mid-dark;
				}
			}
			.project-color-primary-orange & {
				border-color: $primary-orange;
				color: $primary-orange;
				&:hover {
					color:#fff;
					background:$primary-orange;
				}
			}
			.project-color-primary-green & {
				border-color: $primary-green;
				color: $primary-green;
				&:hover {
					color:#fff;
					background:$primary-green;
				}
			}
			.project-color-primary-pink & {
				border-color: $primary-pink;
				color: $primary-pink;
				&:hover {
					color:#fff;
					background:$primary-pink;
				}
			}
			.project-color-primary-red & {
				border-color: $primary-red;
				color: $primary-red;
				&:hover {
					color:#fff;
					background:$primary-red;
				}
			}
			.project-color-primary-blue & {
				border-color: $primary-blue;
				color: $primary-blue;
				&:hover {
					color:#fff;
					background:$primary-blue;
				}
			}
			.project-color-primary-yellow & {
				border-color: $primary-yellow;
				color: $primary-yellow;
				&:hover {
					color:#fff;
					background:$primary-yellow;
				}
			}
			.project-color-primary-lightblue & {
				border-color: $primary-lightblue;
				color: $primary-lightblue;
				&:hover {
					color:#fff;
					background:$primary-lightblue;
				}
			}
			.project-color-primary-purple & {
				border-color: $primary-purple;
				color: $primary-purple;
				&:hover {
					color:#fff;
					background:$primary-purple;
				}
			}
			.project-color-primary-mint & {
				border-color: $primary-mint;
				color: $primary-mint;
				&:hover {
					color:#fff;
					background:$primary-mint;
				}
			}
			.project-color-primary-lightorange & {
				border-color: $primary-lightorange;
				color: $primary-lightorange;
				&:hover {
					color:#fff;
					background:$primary-lightorange;
				}
			}
			.project-color-primary-turquoise & {
				border-color: $primary-turquoise;
				color: $primary-turquoise;
				&:hover {
					color:#fff;
					background:$primary-turquoise;
				}
			}
			.project-color-primary-lightpink & {
				border-color: $primary-lightpink;
				color: $primary-lightpink;
				&:hover {
					color:#fff;
					background:$primary-lightpink;
				}
			}
			.project-color-primary-beige & {
				border-color: $primary-beige;
				color: $primary-beige;
				&:hover {
					color:#fff;
					background:$primary-beige;
				}
			}
			.project-color-primary-everywalk & {
				border-color: $primary-everywalk;
				color: $primary-everywalk;
				&:hover {
					color:#fff;
					background:$primary-everywalk;
				}
			}
		}
		@include respond-to(mobile) {
			bottom:$standard-spacing * .25;
			top:auto;
			a {
				clear:none;
				display: inline-block;
				float:left;
				margin:0;
				margin-left:$standard-spacing * .5;
			}
		}
	}
}

.project-story {
	p {
		font-size:$p * 1.2;
	}
	.row {
		padding-top:$standard-spacing * .5;
		padding-bottom:$standard-spacing * .5;
	}
}
.quote-block {
	padding:$standard-spacing * 6;
	background-repeat: no-repeat;
	background-size: cover;
	display:block;
	position:relative;
	p {
		color:#fff;
		font-size:$p * 2;
	}
	&.text-left, &.text-right {
		padding:0;
		background:$grey-lighter;
		p {
			color:$grey-dark;
			margin:0;
			padding:$standard-spacing * 4;
			height:100%;
			width:65%;
		}
		p, img {
			display:block;
			@include respond-to(mobile) {
				width:100%;
			}
		}
		img {
			width:35%;
		}
	}
	&.text-left {
		p, img {
			float:left;
		}
	}
	&.text-right {
		p, img {
			float:right;
		}
	}
	@include respond-to(tablet) {
		padding:$standard-spacing * 5;
	}
	@include respond-to(mobile) {
		padding:$standard-spacing * 2;
		p {
			font-size:$p * 1.5;
		}
	}
}
.text-info-area {
	background:$grey-light;
	padding:$standard-spacing * 2;

	.text {
		width:60%;
	}
	.image {
		width:40%;
		img {
			width:100%;
			height:auto;
		}
		blockquote {
			font-style:italic;
			padding:0;
			margin:0;
			font-size:$h4 * .8;
			line-height:$h4 * .6;
			.quote-mark {
				padding:$standard-spacing * .25;
			}
		}
	}

	&.text-left {
		border-left:10px solid $grey-mid-dark;
		.text, .image {
			float:left;
		}
		.text {	
			padding-right:$standard-spacing * 2;
		}
		.image {
			padding-left:$standard-spacing * 2;
		}
	}
	&.text-right {
		border-right:10px solid $grey-mid-dark;
		.text, .image {
			float:right;
		}
		.text {
			padding-left:$standard-spacing * 2;
		}
		.image {
			padding-right:$standard-spacing * 2;
		}
	}

	&.text-top {
		border-left:10px solid $grey-mid-dark;
		h3 {
			margin-bottom:$standard-spacing;
		}
		.text, .image {
			float:left;
		}
		.text {
			width:100%;
		}
		.image {
			width:100%;
		}
	}
	&.text-bottom {
		border-left:10px solid $grey-mid-dark;
		.text, .image {
			float:right;
		}
		.text {
			width:100%;
		}
		.image {
			width:100%;
		}
	}

	.project-color-primary-grey & {
		border-color: $grey-mid-dark;
	}
	.project-color-primary-orange & {
		border-color: $primary-orange;
	}
	.project-color-primary-green & {
		border-color: $primary-green;
	}
	.project-color-primary-pink & {
		border-color: $primary-pink;
	}
	.project-color-primary-red & {
		border-color: $primary-red;
	}
	.project-color-primary-blue & {
		border-color: $primary-blue;
	}
	.project-color-primary-yellow & {
		border-color: $primary-yellow;
	}
	.project-color-primary-lightblue & {
		border-color: $primary-lightblue;
	}
	.project-color-primary-purple & {
		border-color: $primary-purple;
	}
	.project-color-primary-mint & {
		border-color: $primary-mint;
	}
	.project-color-primary-lightorange & {
		border-color: $primary-lightorange;
	}
	.project-color-primary-turquoise & {
		border-color: $primary-turquoise;
	}
	.project-color-primary-lightpink & {
		border-color: $primary-lightpink;
	}
	.project-color-primary-beige & {
		border-color: $primary-beige;
	}
	.project-color-primary-everywalk & {
		border-color: $primary-everywalk;
	}


	@include respond-to(mobile) {
		.text, .image {
			width:100%;
			padding:0!important;
		}
	}

	h3 {
		border-bottom:2px solid $grey-mid-dark;
		padding-bottom:$standard-spacing * .5;
		font-size:$h3 * 1.2;
	}
}

/* work page filters */
#loading-image {
	position:fixed;
	display:none;
	height:100%;
	width:100%;
	top:0;
	left:0;
	right:0;
	vertical-align:middle;
	bottom:0;
	background:rgba(#fff, 0.9);
	z-index:3000;
	text-align:center;
	padding:$standard-spacing * 4;
	&.visible {
		display:table;
	}
	img {
		position:relative;
		display:table-cell;
		margin:auto;
		vertical-align:middle;
		top:0;left:0;bottom:0;right:0;
	}
}
.work-filters {
	@include clearfix;
	display:block;
	padding-bottom:$standard-spacing;
	margin-bottom:$standard-spacing;
	border-bottom:1px solid $primary-green;
	width:100%;
	text-align:center;
	h4 {
		margin-bottom:$standard-spacing * .5;
	}
	.filter-btn {
		background:none;
		border:none;
		outline:none;
		display:inline-block;
		cursor:pointer;
		border-bottom:2px solid $primary-green;
		padding:$standard-spacing * .5;
		margin-left:$standard-spacing;
		text-decoration:none;
		color:$primary-green;
		font-size:$p;
		@include transition(all, .25s, linear);

		@include respond-to(mobile) {
			margin-bottom:$standard-spacing * .5;
		}

		&:hover, &.active {
			@include transition(all, .25s, linear);
			background:$primary-green;
			color:#fff!important;
		}

	}
}

.taxonomy-listing {
	background:$grey-lighter;
	@include clearfix;
	display:block;
	width:100%;
	margin-bottom:$standard-spacing * .5;
	padding:$standard-spacing;
	@include respond-to(tablet) {
		.float-left {
			width:100%;
		}
	}
	img {
		width:100%;
		height:auto;
		@include respond-to(tablet) {
			margin-bottom:$standard-spacing * .5;
		}
	}
}