
/* clearfix */
.clearfix {
	@include clearfix;
}

/* hidden */
.hidden {
	display: none;
}

/* floats */
.float-left {
	float:left;
}
.float-right {
	float:right;
}

img.float-right {
	padding-left:$standard-spacing;
	padding-top:$standard-spacing;
	padding-bottom:$standard-spacing;
	@include respond-to(mobile) {
		width:100%;
		padding-left:0;
		padding-right:0;
	}
}
img.float-left {
	padding-right:$standard-spacing;
	padding-top:$standard-spacing;
	padding-bottom:$standard-spacing;
	@include respond-to(mobile) {
		width:100%;
		padding-left:0;
		padding-right:0;
	}
}

/* full width elements */
.full-width {
	width:100%;
	height:auto;
}
img.natural {
	// width:100%;
	// height:auto;
	@include respond-to(tablet) {
		width:100%;
		height:auto;
	}
}

/* standard padding */
.standard-padding {
	padding:$standard-spacing;
}
.standard-padding-x {
	padding-top:$standard-spacing;
	padding-bottom:$standard-spacing;
}
.standard-padding-y {
	padding:$standard-spacing;
}
.double-padding {
	padding:$standard-spacing * 2;
}
.double-padding-x {
	padding-top:$standard-spacing * 2;
	padding-bottom:$standard-spacing * 2;
}
.double-padding-y {
	padding:$standard-spacing * 2;
}

/* margin-top to ignore fixed header */
.clear-header {
	margin-top:114px;
	@include respond-to(mobile) {
		margin-top:72px;
	}
}

/* scroll down button */
.scroll-down-container {
	position:absolute;
	bottom:0;
	z-index:200;
	left:0;
	right:0;
	width:100%;

	/* scroll down button */
	.scroll-down-btn {
	  position: relative;
	  outline: none;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 100px;
	  padding: 20px;
	  text-align: center;
	  color: #000;
	  background: rgba(255, 255, 255, 0.5);
	  -webkit-border-top-right-radius: 20px;
	  border-top-right-radius: 20px;
	  -webkit-border-top-left-radius: 20px;
	  border-top-left-radius: 20px;
	  background-clip: padding-box;
	  text-decoration: none;
	  text-transform: uppercase;
	  font-size: 1.82em;
	  font-family: $secondary-font;
	  .scroll-down-arrow {
		  position: relative;
		  display: block;
		  text-align: center;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top: 10px;
		}

		&:hover {
			.scroll-down-arrow {
				@include animate(bounce .6s linear);
			}
		}
	}

	@include keyframes(bounce) {
		0% {
			top:0;
		}
		25% {
			top:2px;
		}
		50% {
			top:-5px;
		}
		75% {
			top:2px;
		}
		100% {
			top:0;
		}
	}
}

.grid-sizer {
  width: calc(340px - 10px);
  @include respond-to(tablet) {
  	width: calc(50% - 10px);
  }
  @include respond-to(mobile) {
  	width: 100%;
  }
}

.pod-outer {
  padding-left: 10px;
  float: left;
  padding-right: 10px;
  margin-bottom: 20px;
  /* widths */
  /* heights */
  @include respond-to(mobile) {
  	left: 0!important;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }

	// single width pod
	&.single-width {
		width: calc(340px - 10px);
		@include respond-to(tablet) {
			width: calc(50% - 30px);
		}
		@include respond-to(mobile) {
			width: 100%;
		}

		.pod {
			.pod-background-image {
				width:100%;
				@include respond-to(tablet) {
					height: 300px;
					width:auto;
				    position: relative;
				    display: block;
				    margin: auto;
				}
				@include respond-to(small-mobile) {
					width: 100%;
					height:auto;
					min-height:270px;
				}
			}
		}
	}
	// double width pod
	&.double-width {
		width: calc(680px - 20px);
		@include respond-to(tablet) {
			width: calc(100% - 60px);
		}
		@include respond-to(mobile) {
			width: 100%;
		}
		.pod {
			.pod-background-image {
				 width: 100%;
				 @include respond-to(mobile) {
					height: 110px;
			    width: 100%;
			    position: relative;
			    display: block;
			    margin: auto;
				}
			}
		}
	}
	// single height pod
	&.single-height {
		height:300px;
		.project-box-heading {
			margin-top:0;
		}
		@include respond-to(mobile) {
			height:auto;
			min-height:80px;
		}
	}
	&.double-height {
		height: 620px;
		.project-box-heading {
			margin-top: 200px;
			@include respond-to(mobile) {
				margin-top: 100px;
			}
		}
		@include respond-to(mobile) {
			height:auto;
			min-height:150px;
			.pod {
				.pod-background-image {
					height:540px;
				}
			}
		}
	}

}

.pod {
  display: block;
  height: 100%;
  position: relative;
  z-index:350;
  padding: 20px;
  overflow: hidden;
  /* images to act as backgrounds */
  .pod-background-image {
	  position: absolute;
	  z-index: 1800;
	  width: auto;
	  height: 100%;
	  left: 0;
	  top: 0;
	}
  /* captions for project boxes */
  &.project-box {
  	cursor:pointer;
  	.project-box-hover {
  		@include transition(top, 0.5s, linear);
  		position: absolute;
		  top: -30px;
		  z-index: 1900;
  	}
  	&:hover {
  		.project-box-hover {
  			@include transition(top, 0.5s, linear);
  			position: absolute;
			  top: 0;
			  z-index: 1900;
  		}
  	}
  	.blog-pod-title {
		  color: #fff;
		  position: relative;
		  z-index: 1900;
		  text-decoration: none;
		  width: 100%;
		  height: 100%;
		  display: block;
		  padding-top:0;
		  @include transition(all, .25s, linear);
		  .title {
			  color: #fff;
			  z-index: 1900;
			  position: relative;
			  margin: 0;
			  font-family: $secondary-font;
			  text-transform: uppercase;
			  font-size: 3.08em;
			  line-height: 0.98em;
			}
			.author-info {
				@include transition(all, .25s, linear);
				position:relative;
				margin: 0;
			  font-style: italic;
			  padding-top:0;
			  padding-left:0;
			  font-size: 1.4em;
			  &:before {
			  	@include transition(all, .25s, linear);
			  	content:"-";
			  	padding-right:$standard-spacing;
			  	opacity:0;
			  	position:absolute;
			  	left:0;
			  }
			}
			&:hover {
				text-decoration: underline;
			}
		}
		&.blog-box {
			background:$grey-mid;
			@include transition(all, .25s, ease-in-out);
			@include respond-to(mobile) {
				border-width: 0 !important;
			}
			&:hover {
				@include transition(all, .25s, ease-in-out);
				.blog-pod-title {
					padding-top:$standard-spacing * .5;
					@include transition(all, .25s, linear);
					.author-info {
						@include transition(all, .25s, linear);
						padding-top:$standard-spacing * .5;
						padding-left:$standard-spacing * .5;
						&:before {
							@include transition(all, .25s, linear);
					  	content:"-";
					  	opacity:1;
					  }
					}
				}
			}
			@include respond-to(mobile) {
				padding: $standard-spacing;
			}
		}
		.project-box-caption {
			cursor: default;
		  display: none;
		  width: 100%;
		  height: 100%;
		  left: 0;
		  top: 0;
		  position: absolute;
		  z-index: 2000;
		  padding: 15px;
		  &.caption-open {
		  	display: block;
		  }
		  > .project-box-caption-inner {
		  	position: relative;
			  background: rgba(0, 0, 0, 0.6);
			  width: 100%;
			  height: 100%;
			  padding: 30px;
			  h3, p, a, li {
			  	color:#fff;
			  }
		  }
		}
		.project-box-close {
			outline: none;
		  position: absolute;
		  right: $standard-spacing;
		  top: $standard-spacing;
		  img {
		  	width: $standard-spacing * 1.5;
  			height: $standard-spacing * 1.5;
		  }
		}
		.project-box-heading, .project-box-btn, .project-box-tag {
			text-transform:uppercase;
		}
		.project-box-heading {
			padding-right: $standard-spacing;
  		padding-bottom: $standard-spacing * .5;
  		h3 {
  			font-size: 3.078em;
			  line-height: 0.9234em;
			  margin-bottom: $standard-spacing;
  		}
		}
		.project-box-summary {
			display:none;
		}
		.project-box-btn {
			text-decoration: none;
		  margin-top: $standard-spacing * .5;
		  padding: $standard-spacing * .5;
		  position: relative;
		  z-index: 300;
		  @include border-radius(5px);
		  background-clip: padding-box;
		  /* stops bg color from leaking outside the border: */
		  font-size: 1.4em;
		  @include transition(all, 0.25s, linear);
		  &:hover {
		  	@include transition(all, 0.25s, linear);
		  	background: none;
		  }
		}
		.project-box-tags {
			position: absolute;
		  bottom: 0;
		  padding: $standard-spacing;
		  right: 0;
		  .project-box-tag {
		  	border-bottom: 2px solid;
			  display: block;
			  float: right;
			  padding-bottom: 5px;
			  font-size: 1.4em;
			  text-decoration: none;
			  margin-left: $standard-spacing;
			  margin-top: $standard-spacing * .5;
			  &:last-of-type {
			  	margin-left: 0;
			  }
		  }
		}
		@include respond-to(mobile) {
			padding: 0;
		}
  }
  &.message-box {
  	p {
  		@include transition(padding, .2s, ease-in-out);
		  font-family: $secondary-font;
		  text-transform: uppercase;
		  font-size: 3.78em;
		  line-height: 0.98em;
		  margin: 0;
		  &.dark {
		  	color: $grey-dark;
		  }
		  &.primary-green {
		  	color:$primary-green;
		  }
		  @include respond-to(mobile) {
		  	font-size: 3.36em;
		  }
  	}
  	a {
  		display: block;
  		&:hover {
  			p {
  				@include transition(padding, .2s, ease-in-out);
  				padding-left: $standard-spacing * .5;
  			}
  		}
  	}
  	@include respond-to(mobile) {
  		padding: $standard-spacing;
  	}
  }
  /* background colours */
  &.grey-mid-dark-bg, .grey-dark-bg {
		background: $grey-mid-dark;
  	p {
			color:#fff;
  	}
  }
  // primary green
	&.primary-green-bg {
		background:$primary-green!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-green;
			&:hover {
				background: darken($primary-green, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-green;
		}
		.project-box-btn {
			background:$primary-green;
			&:hover {
				border: 2px solid $primary-green !important;
			}
		}
		.project-box-tag {
			border-color: $primary-green!important;
		}
	}
	// primary red
	&.primary-red-bg {
		background:$primary-red!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-red;
			&:hover {
				background: darken($primary-red, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-red;
		}
		.project-box-btn {
			background:$primary-red;
			&:hover {
				border: 2px solid $primary-red !important;
			}
		}
		.project-box-tag {
			border-color: $primary-red!important;
		}
	}
	// primary blue
	&.primary-blue-bg {
		background:$primary-blue!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-blue;
			&:hover {
				background: darken($primary-blue, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-blue;
		}
		.project-box-btn {
			background:$primary-blue;
			&:hover {
				border: 2px solid $primary-blue !important;
			}
		}
		.project-box-tag {
			border-color: $primary-blue!important;
		}
	}
	// primary grey dark
	&.grey-dark-bg {
		background:$grey-dark!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $grey-dark;
			&:hover {
				background: darken($grey-dark, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$grey-dark;
		}
		.project-box-btn {
			background:$grey-dark;
			&:hover {
				border: 2px solid $grey-dark !important;
			}
		}
		.project-box-tag {
			border-color: $grey-dark!important;
		}
	}

	// primary pink
	&.primary-pink-bg {
		background:$primary-pink!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-pink;
			&:hover {
				background: darken($primary-pink, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-pink;
		}
		.project-box-btn {
			background:$primary-pink;
			&:hover {
				border: 2px solid $primary-pink !important;
			}
		}
		.project-box-tag {
			border-color: $primary-pink!important;
		}
	}
	// primary orange
	&.primary-orange-bg {
		background:$primary-orange!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-orange;
			&:hover {
				background: darken($primary-orange, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-orange;
		}
		.project-box-btn {
			background:$primary-orange;
			&:hover {
				border: 2px solid $primary-orange !important;
			}
		}
		.project-box-tag {
			border-color: $primary-orange!important;
		}
	}
	// primary green
	&.primary-green-bg {
		background:$primary-green!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-green;
			&:hover {
				background: darken($primary-green, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-green;
		}
		.project-box-btn {
			background:$primary-green;
			&:hover {
				border: 2px solid $primary-green !important;
			}
		}
		.project-box-tag {
			border-color: $primary-green!important;
		}
	}
	// primary grey
	&.primary-grey-bg {
		background:$grey-mid-dark!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $grey-mid-dark;
			&:hover {
				background: darken($grey-mid-dark, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$grey-mid-dark;
		}
		.project-box-btn {
			background:$grey-mid-dark;
			&:hover {
				border: 2px solid $grey-mid-dark !important;
			}
		}
		.project-box-tag {
			border-color: $grey-mid-dark!important;
		}
	}
	// primary yellow
	&.primary-yellow-bg {
		background:$primary-yellow!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-yellow;
			&:hover {
				background: darken($primary-yellow, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-yellow;
		}
		.project-box-btn {
			background:$primary-yellow;
			&:hover {
				border: 2px solid $primary-yellow !important;
			}
		}
		.project-box-tag {
			border-color: $primary-yellow!important;
		}
	}
	// primary lightblue
	&.primary-lightblue-bg {
		background:$primary-lightblue!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-lightblue;
			&:hover {
				background: darken($primary-lightblue, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-lightblue;
		}
		.project-box-btn {
			background:$primary-lightblue;
			&:hover {
				border: 2px solid $primary-lightblue !important;
			}
		}
		.project-box-tag {
			border-color: $primary-lightblue!important;
		}
	}
	// primary purple
	&.primary-purple-bg {
		background:$primary-purple!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-purple;
			&:hover {
				background: darken($primary-purple, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-purple;
		}
		.project-box-btn {
			background:$primary-purple;
			&:hover {
				border: 2px solid $primary-purple !important;
			}
		}
		.project-box-tag {
			border-color: $primary-purple!important;
		}
	}
	// primary mint
	&.primary-mint-bg {
		background:$primary-mint!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-mint;
			&:hover {
				background: darken($primary-mint, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-mint;
		}
		.project-box-btn {
			background:$primary-mint;
			&:hover {
				border: 2px solid $primary-mint !important;
			}
		}
		.project-box-tag {
			border-color: $primary-mint!important;
		}
	}
	// primary lightorange
	&.primary-lightorange-bg {
		background:$primary-lightorange!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-lightorange;
			&:hover {
				background: darken($primary-lightorange, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-lightorange;
		}
		.project-box-btn {
			background:$primary-lightorange;
			&:hover {
				border: 2px solid $primary-lightorange !important;
			}
		}
		.project-box-tag {
			border-color: $primary-lightorange!important;
		}
	}
	// primary turquoise
	&.primary-turquoise-bg {
		background:$primary-turquoise!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-turquoise;
			&:hover {
				background: darken($primary-turquoise, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-turquoise;
		}
		.project-box-btn {
			background:$primary-turquoise;
			&:hover {
				border: 2px solid $primary-turquoise !important;
			}
		}
		.project-box-tag {
			border-color: $primary-turquoise!important;
		}
	}
	// primary lightpink
	&.primary-lightpink-bg {
		background:$primary-lightpink!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-lightpink;
			&:hover {
				background: darken($primary-lightpink, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-lightpink;
		}
		.project-box-btn {
			background:$primary-lightpink;
			&:hover {
				border: 2px solid $primary-lightpink !important;
			}
		}
		.project-box-tag {
			border-color: $primary-lightpink!important;
		}
	}
	// primary beige
	&.primary-beige-bg {
		background:$primary-beige!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-beige;
			&:hover {
				background: darken($primary-beige, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-beige;
		}
		.project-box-btn {
			background:$primary-beige;
			&:hover {
				border: 2px solid $primary-beige !important;
			}
		}
		.project-box-tag {
			border-color: $primary-beige!important;
		}
	}
	// primary everywalk
	&.primary-everywalk-bg {
		background:$primary-everywalk!important;
		&.blog-box {
			border: $standard-spacing * .5 solid $primary-everywalk;
			&:hover {
				background: darken($primary-everywalk, 5%) !important;
			}
		}
		p {
			color:#fff;
		}
		.project-box-heading {
			border-color:$primary-everywalk;
		}
		.project-box-btn {
			background:$primary-everywalk;
			&:hover {
				border: 2px solid $primary-everywalk !important;
			}
		}
		.project-box-tag {
			border-color: $primary-everywalk!important;
		}
	}

}