@font-face {
	font-family: 'fogg';
	src:url('fonts/fogg.eot?on2l7l');
	src:url('fonts/fogg.eot?#iefixon2l7l') format('embedded-opentype'),
		url('fonts/fogg.ttf?on2l7l') format('truetype'),
		url('fonts/fogg.woff?on2l7l') format('woff'),
		url('fonts/fogg.svg?on2l7l#fogg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fogg';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}
.icon-search:before {
	content: "\e986";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-feed2:before {
	content: "\ea94";
}
.icon-youtube4:before {
	content: "\ea9a";
}
.icon-linkedin2:before {
	content: "\eac9";
}
