/* mobile menu */
.mobile-menu-btn {
  display: none;
  position: fixed;
  padding: $standard-spacing;
  right: 0;
  z-index: 3600;
  top: 3px;
  cursor: pointer;
  &:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	@include respond-to(tablet) {
		 display: block;
	}
	// when wordpress admin bar is present
	.admin-bar & {
		top: 40px;
	}
	.bar-horizontal {
	  position: relative;
	  opacity: 1;
	  width: 40px;
	  height: 3px;
	  margin-bottom: 5px;
	  background: $primary-green;
	  display: block;
	  @include transition(all, 0.2s, linear);

	  &:last-of-type {
	  	margin-bottom:0;
	  }
	}
	
	// when the menu is open
	&.open {
		.bar-horizontal {
			background: $primary-red;

			&.left {
				@include transition(all, .2s, linear);
				@include transform(rotate(45deg));
			  top: 10px;
			}

			&.right {
				@include transition(all, .2s, linear);
				@include transform(rotate(-45deg));
			  top: -6px;
			}

			&.fade-out {
				@include transition(all, .1s, linear);
				opacity:0;
			}
		}
	}

	// when the menu is closed
	&.closed {
		.bar-horizontal {
			&.left {
				@include transition(all, .2s, linear);
				@include transform(rotate(0deg));
			  top: 0;
			}
			&.right {
				@include transition(all, .2s, linear);
				@include transform(rotate(0deg));
			  top: 0;
			}
			&.fade-out {
				@include transition(all, .1s, linear);
				opacity:1;
			}
		}
	}

	&:hover {
		.bar-horizontal {
			margin-bottom:$standard-spacing * .5;
			@include respond-to(mobile) {
				margin-bottom: 5px;
			}
		}
		&.open {
			.bar-horizontal {
				margin-bottom: 5px;
			}
		}
	}

}

// mobile menu container
.menu-mobile-menu-container {
  position: absolute;
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mobile-menu {
  display: none;
  @include respond-to(tablet) {
	    display: none;
	    position: fixed;
	    z-index: 2000;
	    background: #3c3939;
	    width: 100%;
	    clear: both;
	    padding-top: 80px;
	    padding-bottom: 60px;
	    border-top: 1px #8ec44a solid;
	    float: left;
	    overflow-y: scroll;
	    -webkit-overflow-scrolling: touch;
	    top: 0;
	    height: 100%;
	    max-height: 1000px;

	  &::-webkit-scrollbar {
	    display: none !important;
	  }
	  ul {
	    display: table-cell;
	    vertical-align: middle;
	    padding: 0;
	    padding-top: 120px;
	    padding-left: 40px;
	    padding-right: 40px;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	
			li {
				display: block;
				a {
			    display: block;
			    padding: 20px;
			    text-decoration: none;
			    color: #fff;
			    font-size: 2.1em;
			    text-align: center;
			  }

			  &:hover, &.current-menu-item {
			  	a {
			  		color:$primary-green;
			  	}
			  }

			  .sub-menu {
			  	display: none;
	    		padding-top: 0;
	    		li {
	    			a {
	    				 color: $primary-pink;
	    				 &:hover {
	    				 	background:$grey-light;
	    				 }
	    			}
	    		}
			  }
			  &.menu-item-has-children {
			  	position:relative;
			  	> a {
			  		position: relative;
				    z-index: 1200;
				    width: 100%;
			  	}
			  	.open-sub-menu {
			  		position: absolute;
				    color: #fff;
				    z-index: 1500;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    padding: 16px;
				    font-size: 2.1em;
				    cursor: pointer;
				    text-align: center;
				    width: $standard-spacing * 4;
				    height: 100%;
			  	}
			  	&.active {
			  		> a {
							background: $primary-green;
	    				color: #fff;
			  		}
			  	}
			  	&:hover {
			  		.open-sub-menu {
			  			color:#fff;
			  		}
			  	}
			  }
			}

	  }
	  &.active {
	    display: block;
	  }
	}
}