/* team page styles */
#team {
	position:relative;
}

.profile-individual {
	position:fixed;
	display:none;
	overflow-y: scroll;
	width:100%;
	height:100%;
	top:0;
	right:0;
	bottom:0;
	left:0;
	padding-top:$standard-spacing * 4;
	padding-bottom:$standard-spacing;
	z-index:300;
	.inner-content {
		overflow:hidden;
		background:rgba(#000, .7);
		padding:$standard-spacing * 4;
		@include clearfix;
		@include respond-to(mobile) {
			padding:$standard-spacing;
		}
	}
	.profile-photo, .profile-details {
		float:left;
		position:relative;
		@include transition(all, .5s, linear);
	}
	.profile-photo {
		top:-100px;
		padding-right:$standard-spacing * 3;
		width:40%;
		img {
			width:100%;
			height:auto;
		}
		@include respond-to(mobile) {
			width:100%;
			padding:0;
		}
	}
	.profile-details {
		top:100px;
		padding-left:$standard-spacing * 3;
		width:60%;
		.name-and-title {
			position:relative;
			border-bottom:2px solid $primary-green;
			padding-bottom:$standard-spacing * .5;
			.name, .title {
				color:#fff;
				font-size:$p * 1.8;
				margin:0;
				line-height:$p * .8;
			}
			.name {
				text-transform:uppercase;
				font-family:$secondary-font;
			}
			.close-btn {
				display:block;
				position:absolute;
				right:0;
				top:0;
			}
		}
		.profile-biography {
			margin-top:$standard-spacing;
			overflow:scroll;
			max-height:360px;
			p {
				color:#fff;
				font-size:$p * 1.1;
				margin-top:0;
				margin-bottom:$standard-spacing;
			}
			ul {
				display:block;
				margin-bottom:$standard-spacing;
				li {
					color:$primary-green;
					font-size:$p;
					padding-top:$standard-spacing * .125;
					padding-bottom:$standard-spacing * .125;
				}
			}
		}
		@include respond-to(mobile) {
			width:100%;
			padding:0;
			margin-top:$standard-spacing;
		}
	}
	&.open {
		.profile-details, .profile-photo {
			top:0;
			@include transition(all, .5s, linear);
		}
	}
}

.team-profile-grid {
	@include transition(all, .5s, linear);
	display:block;
	float:left;
	overflow:hidden;
	position:relative;
	width:33%;
	height:350px;
	text-decoration:none;

	@include respond-to(desktop) {
		width:33.33%;
	}
	@include respond-to(tablet) {
		width:50%;
	}
	@include respond-to(mobile) {
		width:100%;
	}

	img {
		@include transition(all, .25s, linear);
		position:relative;
		display:block;
		z-index:1;
		width:100%;
		height:auto;
	}

	.name-section {
		position:absolute;
		z-index:2;
		background:rgba(#000, .6);
		padding:$standard-spacing * .5;
		border-left:5px solid $primary-green;
		bottom:$standard-spacing;
		left:$standard-spacing * .5;
		.name {
			color:#fff;
			font-size:$p * 1.4;
			line-height:$p;
			margin:0;
		}
		.title {
			color:$primary-green;
			font-size:$p * 1.4;
			line-height:$p;
			margin:0;
		}
	}

	.name-section-hover {
		@include transition(all, .25s, linear);
		opacity:0;
		position:absolute;
		z-index:2;
		background:rgba(#000, .6);
		text-align:center;
		width:100%;
		height:100%;
		padding:$standard-spacing * 6 $standard-spacing 0;
		left:0;
		top:0;
		bottom:0;
		.name-and-title {
			position:relative;
			@include transition(all, .25s, linear);
			border:0;
			top:100px;
			display:block;
			padding:$standard-spacing;
			text-align:center;
		}
		.name, .title {
			color:#fff;
			margin:0;
		}
		.name {
			font-size:$p * 2;
		}
		.title {
			font-size:$p * 1.6;
			color:$primary-green;
		}
	}

	&:hover {
		img {
			@include transition(all, .25s, linear);
			width:110%;
		}
		.name-section-hover {
			@include transition(all, .25s, linear);
			opacity:1;
			.name-and-title {
				@include transition(all, .25s, linear);
				top:0;
			}
		}
	}

}