@font-face {
    font-family: 'franklin_gothic_fsdemi';
    src: url('fonts/FranklinGothic-Demi-webfont.eot');
    src: url('fonts/FranklinGothic-Demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FranklinGothic-Demi-webfont.woff2') format('woff2'),
         url('fonts/FranklinGothic-Demi-webfont.woff') format('woff'),
         url('fonts/FranklinGothic-Demi-webfont.ttf') format('truetype'),
         url('fonts/FranklinGothic-Demi-webfont.svg#franklin_gothic_fsdemi') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_fsbook';
    src: url('fonts/FranklinGothic-Book-webfont.eot');
    src: url('fonts/FranklinGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FranklinGothic-Book-webfont.woff2') format('woff2'),
         url('fonts/FranklinGothic-Book-webfont.woff') format('woff'),
         url('fonts/FranklinGothic-Book-webfont.ttf') format('truetype'),
         url('fonts/FranklinGothic-Book-webfont.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, p, a, li, button, input {
	font-family: $primary-font;
}

h1 {
	font-size:$h1;
}
h2 {
	font-size:$h2;
}
h3 {
	font-size:$h3;
}
h4 {
	font-size:$h4;
}
h5 {
	font-size:$h5;
}
h6 {
	font-size:$h6;
}
p {
	font-size:$p;
	line-height:$p * 1.2;
}
.bold {
    font-family:$secondary-font;
}
a.no-underline {
  text-decoration: none !important;
}
p.green {
  color: #8ec44a !important;
}